<div class="row">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link <%= path === '/' ? 'highlight' : ''  %>" href=" /">tasksList</a>
    </li>

    <li class="nav-item ">
      <a class="nav-link <%= path === '/addTask' ? 'highlight' : ''  %>" href="/addTask">addTask</a>
    </li>

  </ul>
</div>