<%- include('./includes/head')  %>
<%- include('./includes/nav')  %>

<div class="row">
  <form action="/addTask" method="post" onsubmit="formValidation(event)">
    <label for="title" class="form-label">Write your task : </label>
    <div class="input-group mb-3">
      <input type="text" name="title" class="form-control">
    </div>
    <label for="role" class="form-label">who is responsible ? </label>
    <div class="input-group mb-3">
      <input type="text" name="role" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Send it!</button>
  </form>
  <p id="msg"></p>
</div>

<%- include('./includes/footer')  %>
<script src="/js/main.js"></script>