<%- include('./includes/head')  %>

<div class="row">

  <ul class="list-group">

    <li class="list-group-item"><%= task %></li>

  </ul>

  <a href="/" class="btn btn-link">Back!</a>
</div>



<%- include('./includes/footer')  %>